#photoWall {
  display: flex;
  position: relative;
  left: 200px;
  width: 200px;
  height: 200px;
  border: solid black;
  overflow: hidden;
}

#frame {
  position: relative;
  right: 00px;
  display: flex;
  width: 200px;
  height: 200px;

}

#frame > img {
  display: inline-flex;
  width: 200px;
  height: 200px;
}