#photoWall {
  display: flex;
  position: relative;
  left: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#frame {
  position: relative;
  right: 0px;
  display: flex;
  width: 200px;
  height: 200px;
  transition: ease-in-out 1s;
}

#frame > img {
  display: inline-flex;
  width: 200px;
  height: 200px;
}

.button {
  position: relative;
  left: 50%;
  bottom: 20px;
  opacity: 0.5;
  border: none;
  outline: none; 
  text-align: center;
  border-radius: 50%;
}

.dot {
  position: relative;
  display: flex;
  opacity: 0.5;
  left: 50%;
  bottom: 20px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #bbb;
  display: inline-block;
  transition: ease-in-out 0.2s;
}